<nz-spin [nzSpinning]="isSpinning" [nzDelay]="500">


    <nz-tabset>
  
      <nz-tab nzTitle="Semantic Label">
          
        <div nz-row>
            <div nz-col nzSpan="8">col-12</div>
            <div nz-col nzSpan="8">---</div>
            <div nz-col nzSpan="8">col-12</div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="8">col-12</div>
            <div nz-col nzSpan="8">---</div>
            <div nz-col nzSpan="8">col-12</div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="8">col-12</div>
            <div nz-col nzSpan="8">---</div>
            <div nz-col nzSpan="8">col-12</div>
        </div>

      </nz-tab>
  
    </nz-tabset>
  
  
  </nz-spin>
  
  