<nz-spin [nzSpinning]="isSpinning" [nzDelay]="500">


    <nz-tabset>
  
      <nz-tab nzTitle="Display Template">
  
        <!-- Input Box -->
        <div nz-row>
          <div nz-col nzSpan="12">
  
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchInput1" />
            </nz-input-group>
  
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" nzSearch (click)="executeSearch()"><i nz-icon
                  nzType="search"></i></button>
              <button nz-button nzType="primary" nzSearch (click)="configOpen()" style="margin-left: 3px;"> <i nz-icon nzType="setting" nzTheme="outline"></i> </button>
              <button nz-button nzType="primary" nzSearch (click)="codeOpen()" style="margin-left: 3px;"> <i nz-icon nzType="menu-unfold"></i> </button>
            </ng-template>
  
          </div>
        </div>
  
  
  
        <br>
  
        <!-- Search Result -->
  
        <div *ngIf="data">

            <div *ngFor="let tempalte of renderTemplates">
                <div [innerHTML]="tempalte"></div>
            </div>

        </div>
  
  
      </nz-tab>

      <nz-tab  nzTitle="Docs" >
        <a href="https://review.docs.microsoft.com/en-us/graph/search-concept-display-layout?branch=pr-en-us-11866">Display Layouts</a>
      </nz-tab>
  
    </nz-tabset>
  
  
  </nz-spin>
  
  
  <!--  Meeting Detail right side bar-->
  <nz-drawer [nzClosable]="false" [nzVisible]="showConfiguration" nzPlacement="right" nzTitle="Search Configuration"
    [nzWidth]="600" (nzOnClose)="configClose()">
    <ng-container *nzDrawerContent>
  
  
      <div *ngIf="showConfiguration!=null">
  
        <nz-checkbox-wrapper style="width: 100%; min-width: 1000px;" (nzOnChange)="setEntityTypes($event)">
          <b>Entity Types</b>
          <div nz-row>
            <div nz-col nzSpan="2"><label nz-checkbox nzValue="list" [ngModel]="true">List</label></div>
            <div nz-col nzSpan="2"><label nz-checkbox nzValue="listItem">ListItem</label></div>
            <div nz-col nzSpan="2"><label nz-checkbox nzValue="site">Site</label></div>
            <div nz-col nzSpan="2"><label nz-checkbox nzValue="drive">Drive</label></div>
            <div nz-col><label nz-checkbox nzValue="driveItem" [ngModel]="true">DriveItem</label></div>
          </div>
        </nz-checkbox-wrapper>
      </div>
  
    </ng-container>
  </nz-drawer>

  <!--
  Show Codes
-->

<nz-drawer [nzClosable]="false" [nzVisible]="showCode" nzPlacement="right" nzTitle="Code Snipets" [nzWidth]="600"
(nzOnClose)="codeClose()">
<ng-container *nzDrawerContent>
  <markdown src="../../assets/markdown/displayTemplate.md" lineNumbers></markdown>
</ng-container>
</nz-drawer>