<nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null">
  <div class="sidebar-logo">
    <a href="https://ng.ant.design/" target="_blank">
      <img src="../assets/favicon.png" alt="logo">
      <h1>Graph API</h1>
    </a>
  </div>
  <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li nz-submenu nzOpen nzTitle="Search">
      <ul>
        <!-- Meeting Search Demo-->

        <li nz-menu-item>
          <a routerLink="/welcome">Welcome</a>
        </li>

        <li nz-menu-item>
          <a routerLink="/common">Common</a>
        </li>

        <li nz-menu-item>
          <a routerLink="/meeting">Meeting</a>
        </li>
        <!--
    <li nz-menu-item >
        <a routerLink="/sort">Sort</a>
    </li>
  -->


        <li nz-menu-item>
          <a routerLink="/sort">Sort</a>
        </li>

        
        <li nz-menu-item>
          <a routerLink="/speller">Speller</a>
        </li>

        <!--
        <li nz-menu-item>
          <a routerLink="/semanticLabel">Semantic Label</a>
        </li>

        -->

        
        <li nz-menu-item>
          <a routerLink="/displayTemplate">Display Template</a>
        </li>


      </ul>
    </li>
  </ul>
</nz-sider>

<nz-content>
  <div class="inner-content">
    <router-outlet></router-outlet>
  </div>
</nz-content>